<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create a new list</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new list</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
        <div>
            <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
        </div>
    </main>
</body>
</html>
