<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Todo List</title>
</head>
<body>
<div class="container">
    <h1 class=>Delete Todo List</h1>
    <p>Are you sure you want to delete the Todo List "{{ todo_list.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class=>Delete</button>
        <a href="{% url 'todo_list_detail' todo_list.id %}" class=>Cancel</a>
    </form>
</div>
</body>
</html>
