<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Todo List</title>
</head>
<body>
<div class="container">
    <h1>Update Todo List</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>
