<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Todo Item</title>
</head>
<body>
    <main>
        <div>
            <h1>Update Item</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="task" placeholder="Task" value="{{ todo_item.task }}">
                <input type="text" name="due_date" placeholder="Due Date" value="{{ todo_item.due_date }}">
                <input type="checkbox" name="is_completed" {% if todo_item.is_completed %} checked {% endif %}>
                <select name="list">
                    {% for todo_list in todo_lists %}
                        <option value="{{ todo_list.id }}" {% if todo_item.list_id == todo_list.id %} selected {% endif %}>{{ todo_list.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
</body>
</html>
